TUPLES
> Immutable - cannot be modified
> Ordered - have index
> Circular Bracketes ( )

In [2]:
# CREATING A TUPLE
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

#Another way of creating empty tuple
tup = tuple()

()
<class 'tuple'>

In [3]:
#Accessing Tuple Elements
num = (1,2,3)
print(num[0])
# SLicing and Indexing operation similar to tuples

1

#Tuple Operations
# Conactenation = tuple1+tuple2
#Repetitve operation = tuple1*3 (tuple elemensts will get repeated 3 times)

# immutable Nature of tuples
>Elements cannot be changed once assigned

In [ ]:
#TUPLE METHODS
#1. COUNT - count how many times that value apperas
num.count(1)
#2 INDEX --  returns the first index of that value
num.index(3)

In [4]:
#PACKING AND UNPACKING TUPLES
numbers = 1,'hello',4.3
print(numbers)
#automatically create a tuple

(1, 'hello', 4.3)

In [5]:
#Unpacking 
a,b,c = numbers
print(a,b,c)

1 hello 4.3

In [6]:
#Unpacking with a *
my_tuple = (1, 2, 3, 4, 5)

first, second, *rest = my_tuple
print(first)   # Output: 1
print(second)  # Output: 2
print(rest)    # Output: [3, 4, 5]

first, *middle, last = my_tuple
print(first)   # Output: 1
print(middle)  # Output: [2, 3, 4]
print(last)    # Output: 5

*beginning, last = my_tuple
print(beginning) # Output: [1, 2, 3, 4]
print(last)      # Output: 5

1
2
[3, 4, 5]
1
[2, 3, 4]
5
[1, 2, 3, 4]
5

In [2]:
#NESTED TUPLES
nest_tup = ((1,2,3),(True,False),('apple','fruit'))
print(nest_tup[1][1])

False

In [3]:
#Iterating over nested tuple
for sub_tup in nest_tup:
    for item in sub_tup:
        print(item, end=" ")

1 2 3 True False apple fruit