# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [1]:
tup = (1,2,3,4,5,6,7,8,9,10)
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
print(tup[0])
print(tup[len(tup) //2 ])
print(tup[-1])

1
6
10

In [4]:
print(tup[0:4])
print(tup[-3: ])
print(tup[2:6])

(1, 2, 3, 4)
(8, 9, 10)
(3, 4, 5, 6)

In [5]:
matrix = ((1,2,3),(4,5,6),(7,8,9))
for row in matrix:
    print(row)
print(matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [6]:
tup1 = (1,2,3)
tup2 = (4,5,6)
print(tup1 + tup2)

(1, 2, 3, 4, 5, 6)

In [7]:
tup = (1,1,2,3,5,5,6)
print(tup.count(1))
print(tup.index(5))

2
4

In [9]:
tup = (1,2,3,4,5)
a, b, c, d, e = tup
print(a,b,c,d,e)

1 2 3 4 5

In [10]:
lt = [1,2,3,4,5]
tup = tuple(lt)
print(tup)

(1, 2, 3, 4, 5)

In [12]:
matrix = ((1,2,3),(4,5,6),(7,8,9))
for row in matrix:
    for ele in row:
        print(ele, end ='\n')

1
2
3
4
5
6
7
8
9

In [13]:
tup = (1,2,3,4,5)
lst = list(tup)
lst.append(6)
res = tuple(lst)
print(res)

(1, 2, 3, 4, 5, 6)

In [14]:
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

In [15]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

In [16]:
tup = (1,3,4,4,5,5)
res= set(tup)
print(res)

{1, 3, 4, 5}

In [17]:
def formula(tpl):
    min_tpl = min(tpl)
    max_tpl = max(tpl)
    sum_tpl = sum(tpl)
    return min_tpl,max_tpl,sum_tpl

tup =(1,2,3,4,5)
print(formula(tup))

(1, 5, 15)